.todo{
  margin: 20px auto;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url("./todo2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.9; */
}

.todo h2{
  text-align: center;
}

.todoinput{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.todo-input{
  margin: 20px;
  width: 500px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
}

.btn{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}

.todo-output{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.todo-output h2{
  width: 300px;
}

